In [2]:
#video 38
import numpy as np
import pandas as pd

https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [3]:
email = "jose@email.com"

In [4]:
email.split("@")

['jose', 'email.com']

In [5]:
names = pd.Series(["andrew", "bobo", "claire", "david", "5"])

In [6]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [7]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [8]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [10]:
email

'jose@email.com'

In [9]:
email.isdigit()

False

In [11]:
"5".isdigit()

True

In [12]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [13]:
tech_finance = ["GOOG,APPL,AMZN","JPM,BAC,GS"]
len(tech_finance)

2

In [14]:
tickers = pd.Series(tech_finance)
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [15]:
tickers.str.split(",")

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [16]:
tech = "GOOG,APPL,AMZN"

In [18]:
tech.split(",")[0]

'GOOG'

In [20]:
tickers.str.split(",").str[0]

0    GOOG
1     JPM
dtype: object

In [21]:
tickers.str.split(",",expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [22]:
messy_names = pd.Series(["andrew   ", "bo;bo", "       claire      "])

In [23]:
messy_names

0              andrew
1                  bo;bo
2           claire
dtype: object

In [24]:
messy_names[0]

'andrew   '

In [25]:
messy_names.str.replace(";","") # it says grab all the semicolons and replace it with an empty string,

0              andrew
1                   bobo
2           claire
dtype: object

In [26]:
messy_names.str.replace(";","").str.strip() #Which is a way of just stripping out white space on both sides

0    andrew
1      bobo
2    claire
dtype: object

In [27]:
messy_names.str.replace(";","").str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [28]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name= name.capitalize()
    return name

In [30]:
messy_names

0              andrew
1                  bo;bo
2           claire
dtype: object

In [29]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object

In [31]:
# video 39 - Time Methods for Date and Time Data

In [32]:
from datetime import datetime

In [33]:
myyear = 2015
mymonth = 6
myday= 19
myhour = 2
mymin = 30
mysec= 15

In [34]:
mydate = datetime(myyear,mymonth,myday)

In [35]:
mydate

datetime.datetime(2015, 6, 19, 0, 0)

In [37]:
mydatetime = datetime(myyear,mymonth,myday,myhour,mymin,mysec)

In [38]:
mydatetime

datetime.datetime(2015, 6, 19, 2, 30, 15)

In [39]:
mydatetime.year

2015

In [40]:
myser = pd.Series(["Nov 3, 1990","2000-01-01",None])

In [41]:
myser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [43]:
myser[0]

'Nov 3, 1990'

In [44]:
myser[0].year

AttributeError: ignored

In [45]:
pd.to_datetime(myser)

0   1990-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [46]:
timeser = pd.to_datetime(myser)
timeser  #type NanoSecond

0   1990-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [49]:
timeser[0].year

1990

In [50]:
obvi_euro_date = "31-12-2000"  #euro type

In [51]:
pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [52]:
euro_date = "10-12-2000" #10 dec- but americans 12 oct

In [54]:
pd.to_datetime(euro_date)

Timestamp('2000-10-12 00:00:00')

In [55]:
pd.to_datetime(euro_date,dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [ ]:
#########3

In [56]:
style_date = "12--Dec--2000"

In [57]:
pd.to_datetime(style_date,format="%d--%b--%Y")  #check these things from the table

Timestamp('2000-12-12 00:00:00')

In [58]:
custom_date = "12th of Dec 2000"

In [59]:
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [60]:
sales = pd.read_csv("RetailSales_BeerWineLiquor.csv")

In [61]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [63]:
sales["DATE"] = pd.to_datetime(sales["DATE"])

In [65]:
sales["DATE"] #type datetime

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [67]:
sales["DATE"][0].year

1992

In [69]:
sales.head()

         DATE  MRTSSM4453USN
0  1992-01-01           1509
1  1992-02-01           1541
2  1992-03-01           1597
3  1992-04-01           1675
4  1992-05-01           1822

In [70]:
sales = pd.read_csv("RetailSales_BeerWineLiquor.csv", parse_dates=[0]) # you can do with this pare_dates command

In [72]:
sales["DATE"]

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [73]:
sales = sales.set_index("DATE")

In [74]:
sales

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

In [75]:
sales.resample(rule="A").mean() #rule A is from the table : https://pandas.pydata.org/pandas-docs/version/0.22/timeseries.html#timeseries-offset-aliases 
#you can actually think of it as just group by. But in this case, because it's a specialized timestamp object, we can say something like group by the year or group by the month.

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000